<div class="container-fluid" style="margin: 20px">
    <div class="container">
        <div class="row" style="height: 800px;">
            <div class="col"></div>
            <div class="col-md-8 rounded shadow p-4" style="background-color: #FAEED1; overflow-y: auto;">

                <div class="card rounded shadow" style="background-color: #f6e1b5; border: none;">
                    <h4 class="p-3" style="color: #607274; text-align: center;">Habit Tracker</h4>
                </div>

                <div class="d-flex justify-content-between m-4">
                    <button class="btn btn-outline-secondary" (click)="navigateToMyHabits()">My Habits</button>
                    <button class="btn btn-outline-secondary" (click)="navigateToMyCalendar()">My Calendar</button>
                </div>

                <div class="d-flex justify-content-between  m-4">
                    <h4 style="color: #607274">Calendar</h4>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                    <mat-card class="calendar">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
                
                </div>

            </div>
            <div class="col"></div>
        </div>
    </div>
