<div class="container-fluid" style="margin: 20px">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col"></div>
            <div class="col-md-8 text-center rounded shadow p-4" style="background-color: #FAEED1; overflow-y: auto; ">
                <div class="d-flex justify-content-between m-4">
                    <h4 style="color: #607274; font-size: 1.5rem">Calendar</h4>

                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <mat-card class="calendar" style="width: 60%;">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
            </div>
             <div class="col"></div>
        </div>
    </div>
</div>